name: Python application

on:
  workflow_dispatch:
  push:
  pull_request:

permissions:
  contents: read

jobs:
  tests:
    runs-on: ubuntu-latest
    services:
        arangodb:
          image: arangodb:3.9.2
          env:
            ARANGO_NO_AUTH: 1
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.8"
    - name: Install dependencies
      run: |
        pip install -r requirements.txt
        pip install ./
    - name: Run pytest
      run: |
        pytest tests/